.ta-grid {
    &__inner {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 38px;
        row-gap: 40px;

        @include media-max($tablet) {
            grid-template-columns: 1fr 1fr;
        }

        @include media-max($phablet) {
            column-gap: 20px;
        }

        @include media-max($mobile) {
            grid-template-columns: 1fr;
            row-gap: 30px;
        }
    }

    &--gray {
        background-color: #F9F9FA;
        margin-top: 140px;
        margin-bottom: 50px;
        padding: 50px 0px;
        @include media-max($phablet) {
            margin-top: 60px;
            margin-bottom: 0;
            padding: 30px 0px;
        }
    }
}
